* {box-sizing:border-box;}
body {
    background-color: #f7f7f7;
}

label {
    color: #f7f7f7;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 10px;
    font-weight: bolder;
}

#city {
    height: 30px;
}

#street {
    height: 30px;
}

#submit-btn {
    height: 30px;
    margin-left: 10px;
}

#form-container {
    background-color: rgba(51, 51, 51, 0.8);
    height: 75px;
    text-align: center;
    vertical-align: middle;
}

.bgimage {
    position:fixed;
    top: 0;
    width:100%;
    height: 100%;
    z-index:-1;
    opacity: 0.9;
}

#greeting {
    display: inline-block;
    font-size: 32px;
    font-weight: bolder;
    width: auto;
    margin-top: 20px;
    vertical-align: middle;
    background-color: transparent;
    color: #f7f7f7;
}

.wikipedia-container {
    position: relative;
    float:right;
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 22px;
    margin-top: 250px;
    background-color: rgba(51, 51, 51, 0.8);
    color: #f7f7f7;
}

#wikipedia-links {
    font-size: 18px;
    padding: 10px 10px;
}

#wikipedia-links a {
    color: #f7f7f7;
}

#wikipedia-header {
    margin: 10px 10px;
    padding-top: 2px;
    background-color: transparent;
}

.nytimes-container {
    position: absolute;
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 22px;
    margin-top: 250px;
    background-color: rgba(51, 51, 51, 0.8);
    color: #f7f7f7;
}

#nytimes-articles a {
    color: #f7f7f7;
}

.article-list {
    padding: 0 10px;
    font-size: 18px;
}

#nytimes-header {
    margin: 10px 10px;
    padding-top: 2px;
    background-color: transparent;
}

.article {
    list-style-type: none;
    padding:10px;
}
